.component-aside {
  display: flex;
  flex-direction: row;
  padding: 40px 13vw 0px 13vw;
}

aside {
  flex: 3;
}

.recent-activity-component {
  flex: 7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.recent-activity-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.recent-activity-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recent-activity-search label {
  color: #475e75;
  font-family: "72 Brand Variable", sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 10px;
  width: fit-content;
  white-space: nowrap;
}

.recent-activity-search select {
  border-radius: 8px;
  height: 30px;
  padding: 5px 10px;
  color: #0040b0;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  margin-right: 24px;
}

.recent-activity-search select option {
  padding: 5px 10px;
  color: black;
  font-weight: 700;
  font-family: "72 Brand Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.recent-activity-search button {
  border: 1px solid #0057d2;
  border-radius: 10px;
  background-color: #0057d2;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "72 Brand Variable", sans-serif;
  font-weight: 700;
  padding: 10px;
  transition: all 0.5s;
}

.recent-activity-search button:hover {
  background-color: #0040b0;
}

.recent-activity-search button:active {
  background-color: white;
  color: #0040b0;
}

.recent-activity-search button a {
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.recent-activity-component .recent-activity-card{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(91, 115, 139, 0.2), 0 8px 10px rgba(91, 115, 139, 0.2);
  padding: 24px 20px;
  margin-bottom: 24px;
  border-radius: 10px;
}
.display-none{
  display: none;
}

.recent-activity-component .recent-activity-card .header-panel-card{
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  position: relative;
  padding-bottom: 16px;
}

.header-panel-card .ava{
  border-radius: 100%;
  height: inherit;
}

.header-panel-card .name-job{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-around;
}

.name-job .name{
  color: #12171c;
  font-family: "72 Brand Variable", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;
  white-space: nowrap;

}

.name-job .job{
  font-family: "72 Brand Variable", sans-serif;
  font-size: 14px;
  font-weight: 200;
  width: fit-content;
  white-space: nowrap;
  opacity: 50%;
}

.header-panel-card .ratings{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  align-items: center;
}

.ratings img{
  width: 20px;
  height: fit-content;
  opacity: 70%;
  padding-left: 20px;
}

.ratings p{
  font-family: "72 Brand Variable", sans-serif;
  font-size: 14px;
  font-weight: 200;
  height: fit-content;
  white-space: nowrap;
  opacity: 70%;
  padding-left: 8px;
}

.recent-activity-component .recent-activity-card h4{
  color: black;
  opacity: 70%;
  font-size: 20px;
  font-weight: 700;
  font-family: "72 Brand Variable", sans-serif;
  padding-bottom: 8px;
  width: 100%;
  word-wrap: break-word;
}

.recent-activity-component .recent-activity-card .comment{
  color: #223548;
  font-family: "72 Brand Variable", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  padding-bottom: 20px;
}

.recent-activity-component .recent-activity-card .footer-panel-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-panel-card p {
  font-family: "72 Brand Variable", sans-serif;
  font-size: 14px;
  font-weight: 200;
  height: fit-content;
  white-space: nowrap;
  opacity: 70%;
  padding-left: 16px;
  text-align: center;
  align-items: center;
}
.footer-panel-card .time{
  padding-right: 16px;
  padding-left: 0px;
  border-right: 1px solid #2f4861;
}

.footer-panel-card a{
  cursor: pointer;
  color: #0040b0;
}
.footer-panel-card img{
  cursor: pointer;
  padding: 0 5px;
  height: 8px;
  position: relative;
  opacity: 60%;
}
.recent-activity-component .recent-activity-card .images-card{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

.images-card img{
  width:200px ;
}

.recent-activity-component .recent-activity-footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  align-items: center;
}
.recent-activity-footer button{
  border: 1px solid #0057d2;
  border-radius: 10px;
  background-color: #0057d2;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "72 Brand Variable", sans-serif;
  font-weight: 700;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.recent-activity-footer #prev{
  margin-right: 10px;
}




